.actionRight {
}

    .actionRight div {
        padding-left: 2px!important;
        padding-right: 0px!important;
    }

        .actionRight div.first {
            padding-left: 0px!important;
        }

.btnPrint {
    padding-right: 0px!important;
}

.padding-right-4 {
    padding-right: 4px!important;
}

.padding-right-19 {
    padding-right: 19px!important;
    padding-left: 12px;
}

.padding-right-10 {
    padding-right: 10px;
}

.dataTables_paginate {
    float: right;
}


.dataTables_filter {
    display: none;
}

.Pointer {
    cursor: pointer;
}

table.dataTable tbody tr.selected {
    background-color: #bbbbbb;
}
