.actionRight {
}

    .actionRight div {
        padding-left: 2px!important;
        padding-right: 0px!important;
    }

        .actionRight div.first {
            padding-left: 0px!important;
        }

.btnPrint {
    padding-right: 0px!important;
}

.padding-right-4 {
    padding-right: 4px!important;
}

.padding-left-0 {
    padding-left: 0px!important;
}
.margin-top-8{
    margin-top:8px;
}
.padding-left-22 {
    padding-left: 21px!important;
}

.padding-0 {
    padding-right: 0px!important;
}

.padding-right-19 {
    padding-right: 19px!important;
    padding-left: 12px;
}

.padding-right-10 {
    padding-right: 10px;
}

.dataTables_paginate {
    float: right;
}


.dataTables_filter, .dataTables_length {
    display: none;
}

.Pointer {
    cursor: pointer;
}

table.dataTable tbody tr.selected {
    background-color: #bbbbbb;
}

.selectize-control > .selectize-dropdown {
    top: 36px;
}

.projectForm {
}

    .projectForm label {
        text-align: left!important;
        font-size: 13px;
    }

        .projectForm label.checkbox5 {
            padding-left: 5px;
            font-weight: bold;
        }

        .projectForm label.heading {
            font-size: 17px;
        }

    .projectForm .firstGroup {
        border: 1px solid #ccc;
    }

    .projectForm .childGroup {
        border: 1px solid #ccc;
        border-top-width: 0px;
    }


table#AreaGrid tbody td {
    border-left-width: 0;
    border-bottom-width: 0;
    padding: 0px;
    height: 36px;
    line-height: 36px;
   
}
table#AreaGrid tbody td div{
     padding-left:2%;
}

.hackyhack {
  position: relative;
}
.hackyhack .dropdown-menu {
   left: auto !important;
   right: 0px;
 }

.dataTables_wrapper tr td{
    cursor:pointer;
}