<content-header title-name="Office Management"></content-header>

<!-- Main content -->
<section class="content">
    <div class="row ng-scope" ng-controller="OfficerCtrl">
        <div class="col-md-7 col-sm-8">
            <!---Directive left-action-->
            <left-action theme-button="themeButton"></left-action>

           
            <div class="col-md-5 col-sm-4">
                <!---Directive right-->
                <right-action theme-button="themeButton" full-action="false"></right-action>


            </div>


        </div>
</section>
