<!DOCTYPE html>
<html ng-app="AngularAuthApp">
<head>
    <title>The Entrar-shadow Website form | w3layouts</title>
    <meta charset="utf-8">
    <link href="Style/css/loginPage.css" rel="stylesheet" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <!--webfonts-->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:600italic,400,300,600,700' rel='stylesheet' type='text/css'>
    <!--//webfonts-->
    <script src="Scripts/angularjs/angular.min.js"></script>
    
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular-route.min.js"></script>
     <script src="Scripts/angularjs/angular-ui-router.min.js"></script>
    <script src="Scripts/angularjs/angular-local-storage.min.js"></script>
    <script src="Scripts/angularjs/angular-animate.min.js"></script>
   
    <script src="Scripts/services/loading-bar.min.js"></script>
   <!-- <script src="Scripts/services/authComplete.js"></script>-->
    <!-- Load services -->
    <script src="Scripts/Appscripts/Authentication/angularAuthApp.js"></script>
    <!-- Load services -->
    <script src="Scripts/services/authInterceptorService.js?v=2"></script>
    <script src="Scripts/services/authService.js?v=2"></script>

    <script src="Scripts/services/tokensManagerService.js?v=2"></script>
    <script src="Scripts/Appscripts/Authentication/loginController.js"></script>
     <script src="Scripts/Appscripts/loginApp.js"></script>
</head>
<body>
    <!-----start-main---->
    <div class="main" ng-controller="loginController">
        <div class="login-form">
            <h1>Member Login</h1>
            <div class="head">
                <img src="images/user.png" alt="" />
            </div>
            <form>
                <input type="text" class="text" ng-model="loginData.userName" value="USERNAME" placeholder="USERNAME">
                <input type="password" value="Password" ng-model="loginData.password" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Password';}">
                <div class="submit">
                    <input type="button" ng-click="login()" value="LOGIN">
                </div>
                <p><a href="#">Forgot Password ?</a></p>
            </form>
        </div>
        <!--//End-login-form-->
        <!-----start-copyright---->

        <!-----//end-copyright---->
    </div>
    <!-----//end-main---->


</body>
</html>
