<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="#Server" value="huuphu\SQLEXPRESS"/>
    <add key="#Database" value="nippon"/>
    <add key="#User" value="sa"/>
    <add key="#Password" value="123456"/>
    <add key="Server" value="."/>
    <add key="Database" value="vtnt_nippon"/>
    <add key="User" value="admin"/>
    <add key="Password" value="admin"/>
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
    <webServices>
      <protocols>
        <add name="HttpGet"/>
        <add name="HttpPost"/>
      </protocols>
    </webServices>

    <pages validateRequest ="false" />
    <httpRuntime requestValidationMode = "2.0" />
  </system.web>
</configuration>
