<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="Server" value="huuphu/sqlexpress"/>
    <add key="Database" value="nippon"/>
    <add key="User" value="sa"/>
    <add key="Password" value="123456"/>
  </appSettings>
    <system.web>
      <compilation debug="true" targetFramework="4.0" />
    </system.web>

</configuration>
