<section class="content-header">
    <h1>Account Management
      
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i>Home</a></li>

    </ol>
</section>

<!-- Main content -->
<section class="content">
    <div class="row ng-scope" ng-controller="UserCtrl">
        <div class="col-md-7 col-sm-8" ng-hide="appService.isExtraSmallScreen() &amp;&amp; (action=='add' || action=='update')">
            <form class="form-inline row">
                <div class="form-group col-md-12">
                    <div class="col-md-2">
                        <label for="exampleInputEmail1"></label>
                    </div>

                    <div class="input-group col-md-7" >
                        <input type="text" class="form-control ng-pristine ng-untouched ng-valid" placeholder="Account" ng-model="navigator.search" ng-change="checkEmptySearch()" ui-keydown="{'enter':'search($event)'}"><span class="input-group-btn">
                            <button type="button" class="btn  col-xs-12"  ng-class="themeButton" ng-click="search();">
                                <span class="glyphicon glyphicon-search"></span>
                                Search
                            </button>
                        </span>
                    </div>
                    <div class="col-md-3 pull-right">
                        <button class="btn col-xs-12" ng-class="themeButton">
                            <span class="glyphicon glyphicon-print" ></span>
                            Print</button>
                    </div>
                </div>

            </form>


            <div class="table-responsive">
                <table class="table table-hover table-striped pointer">

                    <thead>
                        <tr>
                            <th width="20%" class="ng-binding">Login Name</th>
                            <th width="40%" class="text-center ng-binding">Full Name</th>
                            <th width="30%" class="text-center ng-binding">Last Login</th>
                            <th width="10%" class="text-center ng-binding">Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        <!-- ngRepeat: u in users -->
                    </tbody>

                </table>
            </div>

            <!-- Navigator part -->


            <div class="row">

                <div class="mt-10 visible-sm visible-xs"></div>
                <div class="col-md-6 pull-right">
                    <div class="input-group">
                        <span class="input-group-addon ng-binding">(0-0)&nbsp;

                        </span>
                        <select class="form-control ng-pristine ng-untouched ng-valid" ng-model="navigator.page" ng-options="p for p in navigatorPages" ng-change="changePage();">
                            <option value="?" selected="selected" label=""></option>
                        </select>
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-default" ng-click="previousPage();">
                                <span class="glyphicon glyphicon-chevron-left"></span>
                            </button>
                            <button type="button" class="btn btn-default" ng-click="nextPage();">
                                <span class="glyphicon glyphicon-chevron-right"></span>
                            </button>
                        </span>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-5 col-sm-4">
            <form class="form-inline row">
                <div class="form-group col-md-12 actionRight">
                    <div class="col-md-3 first hidden">
                        <button class="btn col-xs-12" ng-class="themeButton">
                            <span class="glyphicon glyphicon-lock"></span>
                            Deactive</button>
                    </div>
                    <div class="col-md-3 first">
                        <button class="btn col-xs-12" ng-class="themeButton">
                            <span class="glyphicon glyphicon-ok"></span>
                            Active</button>
                    </div>
                    <div class="col-md-3">
                        <button class="btn col-xs-12" ng-class="themeButton">
                            <span class="glyphicon glyphicon-save"></span>
                            Save</button>
                    </div>
                    <div class="col-md-3">
                        <button class="btn col-xs-12" ng-class="themeButton">
                            <span class="glyphicon glyphicon-minus"></span>
                            Delete</button>
                    </div>
                    <div class="col-md-3">
                        <button class="btn col-xs-12" ng-class="themeButton">
                            <span class="glyphicon glyphicon-plus"></span>
                            Add</button>
                    </div>
                </div>

            </form>

            <form class="form-horizontal row">
                <div class="box-body">
                    <div class="form-group">
                        <label for="inputEmail3" class="col-sm-3 control-label">Login Name</label>
                        <div class="col-sm-9 padding-right-19">
                            <input type="email" class="form-control" id="inputEmail3" placeholder="Email">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputPassword3" class="col-sm-3 control-label">Password</label>
                        <div class="col-sm-9 padding-right-19 ">
                            <input type="password" class="form-control" id="inputPassword3" placeholder="Password">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputEmail3" class="col-sm-3 control-label">Email</label>
                        <div class="col-sm-9 padding-right-19">
                            <input type="email" class="form-control" id="Email1" placeholder="Email">
                        </div>
                    </div>

                </div>

            </form>
            <div class="box panel panel-default">
                <div class="box-header panel-heading ng-binding">
                    <h3 class="box-title"><strong>Role</strong></h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body no-padding">
                    <table class="table table-condensed">
                        <tbody>
                            <tr>
                                <th style="width: 35%">Function</th>
                                <th style="width: 13%" class="text-center">View</th>
                                <th style="width: 13%" class="text-center">Add</th>
                                <th style="width: 13%" class="text-center">Edit</th>
                                <th style="width: 13%" class="text-center">Delete</th>
                                <th style="width: 13%" class="text-center">Orther</th>
                            </tr>
                            <tr>
                                <td>User Mangager</td>
                                <td class="text-center">
                                    <label>
                                        <input type="checkbox" class="minimal" checked />
                                    </label>
                                </td>
                                <td class="text-center">
                                    <label>
                                        <input type="checkbox" class="minimal" checked />
                                    </label>
                                </td>
                                <td class="text-center">
                                    <label>
                                        <input type="checkbox" class="minimal" checked />
                                    </label>
                                </td>
                                <td class="text-center">
                                    <label>
                                        <input type="checkbox" class="minimal" checked />
                                    </label>
                                </td>
                                <td class="text-center">
                                    <label>
                                        <input type="checkbox" class="minimal" checked />
                                    </label>
                                </td>
                            </tr>

                        </tbody>
                    </table>
                </div>
                <!-- /.box-body -->

            </div>


           
            <div class="mt-10 pull-right">
               <!-- <button type="button" class="btn ng-binding" ng-show="user.id==0" ng-click="addUser();">
                    <span class="glyphicon glyphicon-plus"></span>Add
                </button>-->
                <button type="button" class="btn ng-binding" ng-class="themeButton" ng-show="user.id==0" ng-click="resetUser();">
                    <span class="glyphicon glyphicon-ban-circle"></span>
                    Reset Password
                </button>
                <!--<button type="button" class="btn btn-primary ng-binding ng-hide" ng-show="user.id>0" ng-click="updateUser();">
                    <span class="glyphicon glyphicon-ok"></span>Save
                </button>
                <button type="button" class="btn btn-danger ng-binding ng-hide" ng-show="user.id>0" ng-click="showConfirm('account.lock.confirm',disableUser);">
                    <span class="glyphicon glyphicon-lock"></span>Lock
                </button>

                <button type="button" class="btn btn-default ng-hide" ng-click="resetUser();">
                    <span class="glyphicon glyphicon-arrow-left"></span>
                </button>-->
            </div>
        </div>


    </div>

</section>
