<section class="content-header">
    <h1>Account Management
      
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i>Home</a></li>

    </ol>
</section>

<!-- Main content -->
<section class="content">
    <div class="row ng-scope" ng-controller="UserCtrl">
        <div class="col-md-7 col-sm-8" ng-hide="appService.isExtraSmallScreen() &amp;&amp; (action=='add' || action=='update')">
            <form class="form-inline row">
                <div class="form-group col-md-12">
                    <div class="col-md-2">
                        <label for="exampleInputEmail1"></label>
                    </div>

                    <div class="input-group col-md-7" ng-show="navigatorCfg.search==true">
                        <input type="text" class="form-control ng-pristine ng-untouched ng-valid" placeholder="Account" ng-model="navigator.search" ng-change="checkEmptySearch()" ui-keydown="{'enter':'search($event)'}"><span class="input-group-btn">
                            <button type="button" class="btn btn-primary col-xs-12" ng-click="search();">
                                <span class="glyphicon glyphicon-search"></span>
                                Search
                            </button>
                        </span>
                    </div>
                    <div class="col-md-3 pull-right">
                        <button class="btn btn-primary col-xs-12">
                            <span class="glyphicon glyphicon-print"></span>
                            Print</button>
                    </div>
                </div>

            </form>


            <div class="table-responsive">
                <table class="table table-hover table-striped pointer">

                    <thead>
                        <tr>
                            <th width="20%" class="ng-binding">Login Name</th>
                            <th width="40%" class="text-center ng-binding">Full Name</th>
                            <th width="30%" class="text-center ng-binding">Last Login</th>
                            <th width="10%" class="text-center ng-binding">Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        <!-- ngRepeat: u in users -->
                    </tbody>

                </table>
            </div>

            <!-- Navigator part -->


            <div class="row">

                <div class="mt-10 visible-sm visible-xs"></div>
                <div class="col-md-6 pull-right">
                    <div class="input-group">
                        <span class="input-group-addon ng-binding">(0-0)&nbsp;

                        </span>
                        <select class="form-control ng-pristine ng-untouched ng-valid" ng-model="navigator.page" ng-options="p for p in navigatorPages" ng-change="changePage();">
                            <option value="?" selected="selected" label=""></option>
                        </select>
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-default" ng-click="previousPage();">
                                <span class="glyphicon glyphicon-chevron-left"></span>
                            </button>
                            <button type="button" class="btn btn-default" ng-click="nextPage();">
                                <span class="glyphicon glyphicon-chevron-right"></span>
                            </button>
                        </span>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-5 col-sm-4">
            <form class="form-inline row">
                <div class="form-group col-md-12 actionRight">
                    <div class="col-md-3 first hidden">
                        <button class="btn btn-primary col-xs-12">
                            <span class="glyphicon glyphicon-lock"></span>
                            Deactive</button>
                    </div>
                     <div class="col-md-3 first">
                        <button class="btn btn-primary col-xs-12">
                            <span class="glyphicon glyphicon-ok"></span>
                            Active</button>
                    </div>
                    <div class="col-md-3">
                        <button class="btn btn-primary col-xs-12">
                            <span class="glyphicon glyphicon-save"></span>
                            Save</button>
                    </div>
                    <div class="col-md-3">
                        <button class="btn btn-primary col-xs-12">
                            <span class="glyphicon glyphicon-minus"></span>
                            Delete</button>
                    </div>
                    <div class="col-md-3">
                        <button class="btn btn-primary col-xs-12">
                            <span class="glyphicon glyphicon-plus"></span>
                            Add</button>
                    </div>
                </div>

            </form>

            <form class="form-horizontal row">
                <div class="box-body">
                    <div class="form-group">
                        <label for="inputEmail3" class="col-sm-2 control-label">Login Name</label>
                        <div class="col-sm-10 padding-right-19">
                            <input type="email" class="form-control" id="inputEmail3" placeholder="Email">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputPassword3" class="col-sm-2 control-label">Password</label>
                        <div class="col-sm-10 padding-right-19 ">
                            <input type="password" class="form-control" id="inputPassword3" placeholder="Password">
                        </div>
                    </div>
                    <div class="form-group">
                         <label for="inputEmail3" class="col-sm-2 control-label">Email</label>
                        <div class="col-sm-10 padding-right-19">
                            <input type="email" class="form-control" id="Email1" placeholder="Email">
                        </div>
                    </div>
                </div>
               
                <!-- /.box-footer -->
            </form>

            <div ng-show="user.managedBranches.length > 0" class="ng-hide">
                <p class="mt-10 ng-binding">Manage branches:</p>
                <div class="panel panel-default">
                    <div class="panel-body">
                        <!-- ngRepeat: b in user.managedBranches -->
                    </div>
                </div>
            </div>

            <p class="mt-10 ng-binding">Privilege:</p>
            <div class="panel panel-default">
                <div class="panel-heading ng-binding">
                    <input type="checkbox" ng-model="saleAll" ng-change="selectSale()" class="ng-pristine ng-untouched ng-valid">
                    Sale
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-6">
                            <p>
                                <span class="ng-binding">
                                    <input type="checkbox" ng-model="user.authority.saleCreate" ng-change="recalculateCheckbox()" class="ng-pristine ng-untouched ng-valid">
                                    POS (Point-of-Sale)</span>
                            </p>
                        </div>
                        <div class="col-md-6">
                            <p>
                                <span class="ng-binding">
                                    <input type="checkbox" ng-model="user.authority.saleOrder" ng-change="recalculateCheckbox()" class="ng-pristine ng-untouched ng-valid">
                                    Sales Order</span>
                            </p>
                        </div>
                        <div class="col-md-6">
                            <p>
                                <span class="ng-binding">
                                    <input type="checkbox" ng-model="user.authority.saleStatistic" ng-change="recalculateCheckbox()" class="ng-pristine ng-untouched ng-valid">
                                    Sales Statistic</span>
                            </p>
                        </div>
                        <div class="col-md-6">
                            <p>
                                <span class="ng-binding">
                                    <input type="checkbox" ng-model="user.authority.saleStatisticIngredient" ng-change="recalculateCheckbox()" class="ng-pristine ng-untouched ng-valid">
                                    Ingredient Statistic</span>
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading ng-binding">
                    <input type="checkbox" ng-model="inventoryAll" ng-change="selectInventory()" class="ng-pristine ng-untouched ng-valid">
                    Inventory
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-6">
                            <p>
                                <span class="ng-binding">
                                    <input type="checkbox" ng-model="user.authority.inventoryInstock" ng-change="recalculateCheckbox()" class="ng-pristine ng-untouched ng-valid">
                                    In Stock</span>
                            </p>
                        </div>
                        <div class="col-md-6">
                            <p>
                                <span class="ng-binding">
                                    <input type="checkbox" ng-model="user.authority.inventoryPurchase" ng-change="recalculateCheckbox()" class="ng-pristine ng-untouched ng-valid">
                                    Purchase</span>
                            </p>
                        </div>
                        <div class="col-md-6">
                            <p>
                                <span class="ng-binding">
                                    <input type="checkbox" ng-model="user.authority.inventoryPurchaseStatistic" ng-change="recalculateCheckbox()" class="ng-pristine ng-untouched ng-valid">
                                    Purchase Statistic</span>
                            </p>
                        </div>
                        <div class="col-md-6">
                            <p>
                                <span class="ng-binding">
                                    <input type="checkbox" ng-model="user.authority.inventoryPurchaseOrder" ng-change="recalculateCheckbox()" class="ng-pristine ng-untouched ng-valid">
                                    Purchase Order</span>
                            </p>
                        </div>
                        <div class="col-md-6">
                            <p>
                                <span class="ng-binding">
                                    <input type="checkbox" ng-model="user.authority.inventoryExport" ng-change="recalculateCheckbox()" class="ng-pristine ng-untouched ng-valid">
                                    Export</span>
                            </p>
                        </div>
                        <div class="col-md-6">
                            <p>
                                <span class="ng-binding">
                                    <input type="checkbox" ng-model="user.authority.inventoryExportOrder" ng-change="recalculateCheckbox()" class="ng-pristine ng-untouched ng-valid">
                                    Export Order</span>
                            </p>
                        </div>
                        <div class="col-md-6">
                            <p>
                                <span class="ng-binding">
                                    <input type="checkbox" ng-model="user.authority.inventoryExportStatistic" ng-change="recalculateCheckbox()" class="ng-pristine ng-untouched ng-valid">
                                    Export Statistic</span>
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading ng-binding">
                    <input type="checkbox" ng-model="expenseAll" ng-change="selectExpense()" class="ng-pristine ng-untouched ng-valid">
                    Expense
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-6">
                            <p>
                                <span class="ng-binding">
                                    <input type="checkbox" ng-model="user.authority.expenseLog" ng-change="recalculateCheckbox()" class="ng-pristine ng-untouched ng-valid">
                                    Expense Log</span>
                            </p>
                        </div>
                        <div class="col-md-6">
                            <p>
                                <span class="ng-binding">
                                    <input type="checkbox" ng-model="user.authority.expenseStatistic" ng-change="recalculateCheckbox()" class="ng-pristine ng-untouched ng-valid">
                                    Expense Statistic</span>
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading ng-binding">
                    <input type="checkbox" ng-model="workAll" ng-change="selectWork()" class="ng-pristine ng-untouched ng-valid">
                    Work
                </div>
                <div class="panel-body">

                    <div class="row">
                        <div class="col-md-6">
                            <p>
                                <span class="ng-binding">
                                    <input type="checkbox" ng-model="user.authority.workLog" ng-change="recalculateCheckbox()" class="ng-pristine ng-untouched ng-valid">
                                    Work Log</span>
                            </p>
                        </div>
                        <div class="col-md-6">
                            <p>
                                <span class="ng-binding">
                                    <input type="checkbox" ng-model="user.authority.workStatistic" ng-change="recalculateCheckbox()" class="ng-pristine ng-untouched ng-valid">
                                    Work Statistic</span>
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading ng-binding">
                    <input type="checkbox" ng-model="manageAll" ng-change="selectManage()" class="ng-pristine ng-untouched ng-valid">
                    Manage
                </div>
                <div class="panel-body">

                    <div class="row">
                        <div class="col-md-6">
                            <p>
                                <span class="ng-binding">
                                    <input type="checkbox" ng-model="user.authority.manageReport" ng-change="recalculateCheckbox()" class="ng-pristine ng-untouched ng-valid">
                                    Report</span>
                            </p>
                        </div>
                        <div class="col-md-6">
                            <p>
                                <span class="ng-binding">
                                    <input type="checkbox" ng-model="user.authority.manageAccount" ng-change="recalculateCheckbox()" class="ng-pristine ng-untouched ng-valid">
                                    Account</span>
                            </p>
                        </div>
                        <div class="col-md-6">
                            <p>
                                <span class="ng-binding">
                                    <input type="checkbox" ng-model="user.authority.manageProductSale" ng-change="recalculateCheckbox()" class="ng-pristine ng-untouched ng-valid">
                                    Sales Product</span>
                            </p>
                        </div>
                        <div class="col-md-6">
                            <p>
                                <span class="ng-binding">
                                    <input type="checkbox" ng-model="user.authority.manageProductPurchase" ng-change="recalculateCheckbox()" class="ng-pristine ng-untouched ng-valid">
                                    Purchase Product</span>
                            </p>
                        </div>
                        <div class="col-md-6">
                            <p>
                                <span class="ng-binding">
                                    <input type="checkbox" ng-model="user.authority.manageAddressbookCustomer" ng-change="recalculateCheckbox()" class="ng-pristine ng-untouched ng-valid">
                                    Customer</span>
                            </p>
                        </div>
                        <div class="col-md-6">
                            <p>
                                <span class="ng-binding">
                                    <input type="checkbox" ng-model="user.authority.manageAddressbookSupplier" ng-change="recalculateCheckbox()" class="ng-pristine ng-untouched ng-valid">
                                    Supplier</span>
                            </p>
                        </div>
                        <div class="col-md-6">
                            <p>
                                <span class="ng-binding">
                                    <input type="checkbox" ng-model="user.authority.manageAddressbookEmployee" ng-change="recalculateCheckbox()" class="ng-pristine ng-untouched ng-valid">
                                    Employee</span>
                            </p>
                        </div>
                        <div class="col-md-6">
                            <p>
                                <span class="ng-binding">
                                    <input type="checkbox" ng-model="user.authority.manageLogActivity" ng-change="recalculateCheckbox()" class="ng-pristine ng-untouched ng-valid">
                                    Activity Log</span>
                            </p>
                        </div>
                        <div class="col-md-6">
                            <p>
                                <span class="ng-binding">
                                    <input type="checkbox" ng-model="user.authority.manageSettingSale" ng-change="recalculateCheckbox()" class="ng-pristine ng-untouched ng-valid">
                                    Setting</span>
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <div ng-show="user.id>0" class="ng-hide">
                <a href="" ng-click="showConfirm('account.reset.pass.confirm',resetPasswordUser)" class="ng-binding">
                    <span class="glyphicon glyphicon-refresh"></span>
                    Reset password
                </a>
            </div>
            <div class="mt-10">
                <button type="button" class="btn btn-primary ng-binding" ng-show="user.id==0" ng-click="addUser();">
                    <span class="glyphicon glyphicon-plus"></span>Add
                </button>
                <button type="button" class="btn btn-default ng-binding" ng-show="user.id==0" ng-click="resetUser();">
                    <span class="glyphicon glyphicon-ban-circle"></span>
                    Reset
                </button>
                <button type="button" class="btn btn-primary ng-binding ng-hide" ng-show="user.id>0" ng-click="updateUser();">
                    <span class="glyphicon glyphicon-ok"></span>Save
                </button>
                <button type="button" class="btn btn-danger ng-binding ng-hide" ng-show="user.id>0" ng-click="showConfirm('account.lock.confirm',disableUser);">
                    <span class="glyphicon glyphicon-lock"></span>Lock
                </button>

                <button type="button" class="btn btn-default ng-hide" ng-show="user.id>0" ng-click="resetUser();">
                    <span class="glyphicon glyphicon-arrow-left"></span>
                </button>
            </div>
        </div>


    </div>

</section>
