<div class="form-group col-md-12" >
    
    <div class="pull-right" style="width:50px">
        <button class="btn col-sm-12 pull-right " ng-class="themeButton" ng-click="setFullSreen()">
            <span class="" ng-hide="layout.isFull">
              <i class="fa fa-chevron-right fa-lg"></i> 
            </span>
           
            <span class="" ng-hide="!layout.isFull"><i class="fa fa-chevron-left fa-lg"></i> </span>
        </button>
    </div>
    <div class="pull-right" style="width:121px; margin-right:1px;">
        <button class="btn col-xs-12" ng-class="themeButton">
            <span class="glyphicon glyphicon-print"></span>
            Report</button>
    </div>
    <div class="input-group pull-right" style="width:340px">
        <input type="text" class="form-control ng-pristine ng-untouched ng-valid" placeholder="Enter words to search" ng-model="gridInfo.searchQuery" ng-change="searchTable()"><span class="input-group-btn">
            <button type="button" class="btn  col-xs-12" ng-class="themeButton" ng-click="search();">
                <span class="glyphicon glyphicon-search"></span>
                Search
            </button>
        </span>
    </div>

</div>
