<div class="modal-header dialog-header-confirm">
    <button type="button" class="close" ng-click="cancel()">×</button>
    <h4 class="modal-title ng-binding"><span class="glyphicon glyphicon-check"></span>{{title}}</h4>
</div>

<div class="modal-body">
    <div class="row text-center">
        <h1 class="text-bold">REQUISITION FOR SHOP DECORATION</h1>
        <h3>(PHIẾU YÊU CẦU HỖ TRỢ HÌNH ẢNH THƯƠNG HIỆU TẠI CỬA HÀNG)</h3>
    </div>
    <div class="row">
        <div class="col-md-12  projectForm">
            <form class="form-horizontal firstGroup">
                <div class="box-body">
                    <div class="form-group">
                        <label for="inputEmail3" class="col-sm-10 control-label text-bold heading">General Information (Thông tin chung) </label>
                        <div class="col-sm-2">
                            &nbsp;
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputEmail3" class="col-sm-4 control-label">Name of shop (Tên cửa hàng)</label>
                        <div class="col-sm-8">
                            <input type="" class="form-control" id="inputEmail3" placeholder="">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputEmail3" class="col-sm-4 control-label">Tel (Điện thoại)</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" id="Email1" placeholder="">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputEmail3" class="col-sm-4 control-label">Contacted person (Người liên lạc):</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" id="Number1" placeholder="">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputEmail3" class="col-sm-4 control-label">Khu vực:</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" id="Number2" placeholder="">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputEmail3" class="col-sm-4 control-label">Người duyệt mẫu:</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" id="Number3" placeholder="">
                        </div>
                    </div>
                </div>
                <!-- /.box-body -->

            </form>

            <form class="form-horizontal childGroup">
                <div class="box-body">
                    <div class="form-group">
                        <label for="inputEmail3" class="col-sm-10 control-label text-bold heading">Dealer Type (Loại đại lý) </label>
                        <div class="col-sm-2">
                            &nbsp;
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-4 ">

                            <div class="checkbox checkbox-success">
                                <input id="cbDealer1" class="styled" type="checkbox">
                                <label for="cbDealer1" class="checkbox5 text-bold">
                                    Master Dealer (Đại lý cấp 1)
                       
                                </label>
                            </div>
                        </div>
                        <div class="col-sm-8">

                            <div class="checkbox checkbox-success">
                                <input id="cbDealer2" class="styled" type="checkbox">
                                <label for="cbDealer2" class="checkbox5 text-bold">
                                    Sub-Dealer (Đại lý cấp 2)
                       
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-4 ">
                            &nbsp;
                        </div>
                        <div class="col-sm-8">
                            <div class="row">
                                <label for="inputEmail3" class="col-sm-5 control-label">
                                    Buying from master dealer :
                                    <br />
                                    (Mua từ đại lý trực tiếp)</label>
                                <div class="col-sm-7">
                                    <input type="text" class="form-control" id="Number4" placeholder="">
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="form-group">
                        <label for="inputEmail3" class="col-sm-4 control-label">
                            Estimated Annual Turnover (VND)<br />
                            (Doanh số ước tính hàng năm) 
                        </label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" id="Number5" placeholder="">
                        </div>
                    </div>

                </div>
                <!-- /.box-body -->

            </form>

            <form class="form-horizontal childGroup">
                <div class="box-body">
                    <div class="form-group">
                        <label for="inputEmail3" class="col-sm-10 control-label text-bold heading">Task/ Job requested for ( công việc yêu cầu) </label>
                        <div class="col-sm-2">
                            &nbsp;
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-6 ">

                            <div class="checkbox checkbox-success">
                                <input id="cbxShopsign" class="styled" type="checkbox">
                                <label for="cbxShopsign" class="checkbox5 text-bold">
                                    Shopsign (bảng hiệu)
                                </label>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="row">
                                <label for="inputEmail3" class="col-sm-6 control-label">Number of shelf (số lượng kệ)</label>
                                <div class="col-sm-6">
                                    <input type="text" class="form-control" id="Text3" placeholder="">
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-3 ">

                            <div class="checkbox checkbox-success">
                                <input id="cbxSDealernoCCM" class="styled" type="checkbox">
                                <label for="cbxSDealernoCCM" class="checkbox5 text-bold">
                                    Dealer no CCM<br />
                                    ( Đại lí bình thường)
                                </label>
                            </div>
                        </div>
                        <div class="col-sm-3">

                            <div class="checkbox checkbox-success">
                                <input id="cbxDealerwithCCM" class="styled" type="checkbox">
                                <label for="cbxDealerwithCCM" class="checkbox5 text-bold">
                                    Dealer with CCM 
                                    <br />
                                    (Đại lí có máy pha màu)
                                </label>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="row">
                                <label for="inputEmail3" class="col-sm-6 control-label">
                                    Number of shopsign
                                    <br />
                                    (Số lượng bảng hiệu)</label>
                                <div class="col-sm-6">
                                    <input type="text" class="form-control" id="Text1" placeholder="">
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="form-group">
                        <div class="col-sm-11 ">

                            <div class="checkbox checkbox-success">
                                <input id="cbxSCCMCorner" class="styled" type="checkbox">
                                <label for="cbxSCCMCorner" class="checkbox5 text-bold">
                                    CCM Corner (Ñaët máy pha màu, trang trí showroom)
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputEmail3" class="col-sm-3 control-label">
                            Shopsign Placement<br />
                            (Vị trí đặt bảng hiệu)
                        </label>
                        <div class="col-sm-3">

                            <div class="checkbox checkbox-success">
                                <input id="cbxFrontofshop" class="styled" type="checkbox">
                                <label for="cbxFrontofshop" class="checkbox5 text-bold">
                                    Front of shop 
                                    <br />
                                    (Trước cửa hàng)
                                </label>
                            </div>
                        </div>
                        <div class="col-sm-3">

                            <div class="checkbox checkbox-success">
                                <input id="cbxRightsideofshop" class="styled" type="checkbox">
                                <label for="cbxRightsideofshop" class="checkbox5 text-bold">
                                    Right side of shop
                                    <br />
                                    (Phía sau cửa hàng)
                                </label>
                            </div>
                        </div>
                        <div class="col-sm-3">

                            <div class="checkbox checkbox-success">
                                <input id="cbxLeftsideofshop" class="styled" type="checkbox">
                                <label for="cbxLeftsideofshop" class="checkbox5 text-bold">
                                    Left side of shop 
                                    <br />
                                    (Bên trái cửa hàng)
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputEmail3" class="col-sm-4 control-label">
                            Size of shop sign
                            <br />
                            (Bề rộng mặt tiền cửa hàng) 
                        </label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" id="Text2" placeholder="">
                        </div>
                    </div>
                </div>
                <!-- /.box-body -->

            </form>

            <form class="form-horizontal childGroup">
                <div class="box-body">
                    <div class="form-group">
                        <label for="inputEmail3" class="col-sm-10 control-label text-bold heading">Other Information (Thông tin khác)</label>
                        <div class="col-sm-2">
                            &nbsp;
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputEmail3" class="col-sm-3 control-label">
                            Competitors' shop sign
                            <br />

                        </label>

                        <div class="col-sm-3">

                            <div class="checkbox checkbox-success">
                                <input id="cbxRYes" class="styled" type="checkbox">
                                <label for="cbxRYes" class="checkbox5 text-bold">
                                    Yes 
                                </label>
                            </div>
                        </div>


                        <div class="col-sm-3">

                            <div class="checkbox checkbox-success">
                                <input id="cbxNo" class="styled" type="checkbox">
                                <label for="cbxNo" class="checkbox5 text-bold">
                                    No
                                </label>
                            </div>
                        </div>
                        <label for="inputEmail3" class="col-sm-3 control-label">
                            Brand name(Tên nhãn hiệu)
                        </label>

                        <label class="col-sm-9">
                            Hiện tại cửa hàng có bảng hiệu của đối thủ cạnh tranh
                        </label>
                        <div class="col-sm-3">
                            <input type="text" class="form-control" id="Text4" placeholder="">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputEmail3" class="col-sm-3 control-label">
                           Requisition Date
                            <br />
                           (Ngày yêu cầu)
                        </label>
                        <div class="col-sm-3">
                            <input type="text" class="form-control" id="Text5" placeholder="">
                        </div>
                         <label for="inputEmail3" class="col-sm-3 control-label">
                           Completion Date
                            <br />
                          (Ngày hoàn thành)
                        </label>
                        <div class="col-sm-3">
                            <input type="text" class="form-control" id="Text6" placeholder="">
                        </div>
                    </div>
                      <div class="form-group">
                        <label for="inputEmail3" class="col-sm-6 control-label">
                           Photo of shop attached (Aûnh thöïc teá cuûa cöûa haøng)
                            <br />

                        </label>

                        <div class="col-sm-3">

                            <div class="checkbox checkbox-success">
                                <input id="Checkbox1" class="styled" type="checkbox">
                                <label for="cbxRYes" class="checkbox5 text-bold">
                                    Yes 
                                </label>
                            </div>
                        </div>


                        <div class="col-sm-3">

                            <div class="checkbox checkbox-success">
                                <input id="Checkbox2" class="styled" type="checkbox">
                                <label for="cbxNo" class="checkbox5 text-bold">
                                    No
                                </label>
                            </div>
                        </div>
                       
                    </div>
                </div>
                <!-- /.box-body -->

            </form>

        </div>
    </div>

</div>
<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="ok()">OK</button>
    <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
</div>



