<form class="form-horizontal">
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <label for="inputName1" class="col-sm-5">Nhân viên</label>
                <div class="col-sm-7">
                    <input type="text" class="form-control" id="inputName1" placeholder="Name">
                </div>
            </div>
            <div class="form-group">
                <label for="inputDate1" class="col-sm-7 ">Ngày dự kiến bắt đầu</label>
                <div class="col-sm-5">
                    <i class="input-group hackyhack">
                        <input type="text" class="form-control text-center" datepicker-popup="{{format}}" ng-model="dt1" is-open="status.openedD1" ng-required="true" close-text="Close" id="inputDate1" ng-click="status.openedD1=true" />
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-default" ng-click="status.openedD1=true"><i class="glyphicon glyphicon-calendar"></i></button>
                        </span>
                    </i>
                </div>
            </div>
            <div class="form-group">
                <label for="inputDate2" class="col-sm-7 ">Ngày dự kiến hoàn thành</label>
                <div class="col-sm-5">
                    <i class="input-group hackyhack">
                        <input type="text" class="form-control text-center" datepicker-popup="{{format}}" ng-model="dt2" is-open="status.openedD2" ng-required="true" close-text="Close" id="inputDate2" ng-click="status.openedD2=true" />
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-default" ng-click="status.openedD2=true"><i class="glyphicon glyphicon-calendar"></i></button>
                        </span>
                    </i>
                </div>
            </div>
            <div class="form-group">
                <label for="inputDate3" class="col-sm-7 ">Ngày hoàn thành</label>
                 <div class="col-sm-5">
                    <i class="input-group hackyhack">
                        <input type="text" class="form-control text-center" datepicker-popup="{{format}}" ng-model="dt3" is-open="status.openedD3" ng-required="true" close-text="Close" id="inputDate3" ng-click="status.openedD3=true" />
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-default" ng-click="status.openedD3=true"><i class="glyphicon glyphicon-calendar"></i></button>
                        </span>
                    </i>
                </div>
            </div>
            <div class="form-group">
                <label for="partner1" class="col-sm-5  text-left">Đối tác</label>
                <div class="col-sm-7">
                    <input type="text" class="form-control" id="partner1" placeholder="Partner">
                </div>
            </div>
            <div class="form-group">
                <label for="inputEmail4" class="col-sm-5  text-left">Email Đối tác</label>
                <div class="col-sm-7">
                    <input type="email" class="form-control" id="inputEmail4" placeholder="Email">
                </div>
            </div>
        </div>

    </div>
</form>
