<content-header title-name="Project Management"></content-header>

<!-- Main content -->
<section class="content">
    <div class="row ng-scope" ng-controller="ProjectCtrl" ng-init="init()">
        <div ng-class="{true: 'col-md-12', false: 'col-md-7 col-sm-8'}[layout.isFull]">
            <!---Directive left-action-->
            <form class="form-inline row slide-animate" ng-include="'/Templates/view/project/project-top-left.html'"></form>

            <div class="row">
                <!---Directive left-action-->
                <angular-grid-table grid-info="gridInfo" root-scope="this"></angular-grid-table>
            </div>
        </div>

        <div class="col-md-5 col-sm-4" ng-show="!layout.isFull">
            <!---Directive right-->
            <form class="form-inline row" ng-include="'/Templates/view/project/project-top-right.html'"></form>

            <form class="form-inline row">
                <div class="box-body row">
                    <div class="form-group  col-md-12 margin-top-8">
                        <accordion close-others="true">
   
    <accordion-group heading="{{group.title}}" ng-repeat="group in steps"   is-open="group.isOpen">
     <project-step></project-step>
    </accordion-group>
   </accordion>
                    </div>

                </div>
            </form>
        </div>

    </div>




</section>
